<!DOCTYPE html>
<html lang="en" class="background">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="dist/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&amp;subset=latin-ext" rel="stylesheet">
  <title>Ready</title>
</head>
<body class="">
    <div>{% include 'pages/homepage.twig' %} </div>
</body>
</html>

